.app {
	display: flex;
	gap: 35px;
	padding: 10px 0px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.searchContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.leftSection {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
}

.previewCardsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.detailsSection {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;
	background-color: white;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	padding: 1rem;
}

.searchContainer {
	margin: 1rem 0;
}

.isDetailsOpen {
	width: 70%;
}
