.preview-card {
	display: flex;
	flex-direction: column;
	padding: 20px 30px;
	border: 1px solid #ccc;
	border-radius: 10px;
	justify-content: center;
	max-width: 250px;
	height: 400px;
	width: 100%;
	transition:
		border 0.5s,
		transform 0.5s;
}

.preview-card:hover {
	border: 1px solid #646363;
	cursor: pointer;
	transform: scale(1.01);
}

.preview-card__image-container {
	width: 100%;
	height: 100%;
	flex: 1;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preview-card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.preview-card__info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
