.previewCard {
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
	justify-content: center;
	max-width: 280px;
	height: 400px;
	width: 100%;
	transition: transform 0.5s;
}

.previewCard:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.previewCardImageContainer {
	width: 100%;
	height: 100%;
	flex: 1;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.previewCardImage {
	width: 100%;
	height: 100%;
}

.previewCardInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
